<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.estudiodeaplicaciones.rutadeltambor"
        version   = "2.0.0">

    <name>Ruta del Tambor y Bombo</name>

    <description>
        Semana Santa en la Ruta del Tambor y Bombo (Teruel)
    </description>

    <author href="http://estudiodeaplicaciones.com" email="hola@estudiodeaplicaciones.com">
        Estudio de Aplicaciones
    </author>

    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="3.6.3" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="all" />            <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />          <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="true" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />             <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="preferExternal" /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="stay-in-webview"            value="false" />
   
	
	<gap:plugin name="com.pushwoosh.plugins.pushwoosh"  />
	<gap:plugin name="org.apache.cordova.console"  />
	<gap:plugin name="org.apache.cordova.device"  />
	<gap:plugin name="org.apache.cordova.device-motion"  />
	<gap:plugin name="org.apache.cordova.device-orientation"  />
	<gap:plugin name="org.apache.cordova.dialogs"  />
	<gap:plugin name="org.apache.cordova.inappbrowser"  />
	<gap:plugin name="org.apache.cordova.network-information"  />
	<gap:plugin name="org.apache.cordova.splashscreen"  />
	<gap:plugin name="org.apache.cordova.vibration"  />


    <icon src="cordova/cordova_128.png"/>
    <icon src="cordova/cordova_android_36.png" gap:platform="android" gap:density="ldpi"/>
    <icon src="cordova/cordova_android_48.png" gap:platform="android" gap:density="mdpi"/>
    <icon src="cordova/cordova_android_72.png" gap:platform="android" gap:density="hdpi"/>
    <icon src="cordova/cordova_android_96.png" gap:platform="android" gap:density="xhdpi"/>
    <icon src="cordova/cordova_bb_80.png" gap:platform="blackberry"/>
    <icon src="cordova/cordova_bb_80.png" gap:platform="blackberry" gap:state="hover"/>
    <icon src="cordova/cordova_ios_57.png" gap:platform="ios" width="57" height="57"/>
    <icon src="cordova/cordova_ios_72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="cordova/cordova_ios_114.png" gap:platform="ios" width="114" height="114"/>
    <icon src="cordova/cordova_ios_144.png" gap:platform="ios" width="144" height="144"/>
    <icon src="cordova/cordova_64.png" gap:platform="webos"/>
    <icon src="cordova/cordova_48.png" gap:platform="winphone"/>
    <icon src="cordova/cordova_173.png" gap:platform="winphone" gap:role="background"/>
     
    <gap:splash src="cordova/res/screen/android_ldpi_portrait.png.png" gap:platform="android" gap:density="ldpi"/>
    <gap:splash src="cordova/res/screen/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>
    <gap:splash src="cordova/res/screen/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>
    <gap:splash src="cordova/res/screen/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>
    <gap:splash src="cordova/res/screen/blackberry_transparent_300.png" gap:platform="blackberry"/>
    
	<gap:splash src="cordova/res/screen/iphone_portrait.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="cordova/res/screen/iphone_landscape.png" gap:platform="ios" width="480" height="320"/>
	
	<gap:splash src="cordova/res/screen/iphone_retina_portrait.png" gap:platform="ios" width="640" height="960"/>
	<gap:splash src="cordova/res/screen/iphone_retina_landscape.png" gap:platform="ios" width="960" height="640"/>
	
	<gap:splash src="cordova/res/screen/iphone5_portrait.png" gap:platform="ios" width="640" height="1136"/>
	<gap:splash src="cordova/res/screen/iphone5_landscape.png" gap:platform="ios" width="1136" height="640"/>
    
	<gap:splash src="cordova/res/screen/ipad_portrait.png" gap:platform="ios" width="768" height="1004"/>
    <gap:splash src="cordova/res/screen/ipad_landscape.png" gap:platform="ios" width="1024" height="748"/>
	
	<gap:splash src="cordova/res/screen/ipad_retina_portrait.png" gap:platform="ios" width="1536" height="2008"/>
    <gap:splash src="cordova/res/screen/ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1496"/>
	
	<gap:splash src="cordova/res/screen/iphone_retina_.png" gap:platform="ios" width="640" height="1136"/>
    
	<gap:splash src="cordova/res/screen/windows_phone_portrait.jpg" gap:platform="winphone"/>


    <access origin="*"/>
   
</widget>
